/* -------------------------------- 

File#: _1_main-footer
Title: Main Footer
Descr: Footer navigation
Usage: codyhouse.co/license

-------------------------------- */

.main-footer {
    background-color:#6C86A5;
  }
  
  .main-footer__logo {
    display: inline-block;
  
    svg, img {
      display: block;
    }
  }
  
  .main-footer__link {
    color: rgb(54, 54, 68);
    text-decoration: none;
  
    &:hover {
      color: var(--color-contrast-high);
      text-decoration: underline;
    }
  }
  
  /* SOCIAL MEDIA */
  
  .sharebar {}
  
  .sharebar__btn {
    display: inline-block;
    padding: var(--space-sm);
    background: var(--color-contrast-lower);
    border-radius: 50%;
    transition: .2s;
  
    .icon {
      display: block;
      color: var(--color-contrast-high);
      transition: color .2s;
      font-size: 1.2em;
    }
  
    &:hover {
      background-color: rgb(31, 30, 30);
      box-shadow: var(--shadow-sm);
  
      .icon {
        color: var(--color-primary);
      }
    }
  }
  
  .footerLinks {
    margin: auto;
    margin-top: 1rem;
  }